body{
    font-family: 'Montserrat', sans-serif;
}

.fas:hover{
    cursor: pointer;
}

.first-block{
    background-image: url('../img/Sections-background/section-1(header).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.container{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-style{
    height: 120px;
    background-color: rgba(0,0,0,0.4);
}

.main-logo{
    position: relative;
    display: inline-block;
    margin-top: 25px;
}

.logo-letter{
    position: absolute;
    top:11px;
    left: 11px;
    color: #fff;
    font-size: 45px;
    font-weight:700;
}

.hexagon-text-img{
    position: absolute;
    top: 20px;
    left: 66px;
}

.header-list{
    display: flex;
    padding-top: 55px;
}

.header-list-item{
    padding-right: 22px;
}

.header-list-item-link{
    text-decoration: none;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
}

.fa-search-first{
    color: #bbbbbb;
}

.fa-search-first:hover{
    color:#18cfab;
    cursor: pointer;
}

.header-list-item-link:hover{
    color:#18cfab;
    padding-bottom: 48px;
    border-bottom: 2px solid #18cfab;
    /*box-shadow: 2px 63px 10px 0px rgba(24, 207, 171, 1);*/
}

.headlines{
    text-align: center;
    margin-top: 170px;
}

.first-headline{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 30px;
}

.first-headline-span{
    color:#18cfab;
}

.second-headline{
    color: #fff;
    font-size: 63px;
    font-weight: 700;
    padding-bottom: 30px;
}

.third-headline{
    color: #c9c9c9;
    font-size: 28px;
    font-weight: 300;
}

.buy-now-buttons{
    text-align: center;
}

.buy-now-buttons a{
    text-decoration: none;
}

.buy-now-buttons{
    margin-top: 130px;
    margin-bottom: 130px;
}

.first-buy-button{
    color: #ffffff;
    padding: 25px 25px;
    border-radius: 5px;
    background: linear-gradient(to top, #18cfab 93%, #ffffff 7%);
    font-size: 12px;
    font-weight: 700;
    margin-right: 28px;
}

.second-buy-button{
    color: #ffffff;
    padding: 25px 19px;
    border-radius: 5px;
    background: linear-gradient(to top, #00cbf6 93%, #ffffff 7%);
    font-size: 12px;
    font-weight: 700;
}

.squares{
    display: flex;
    justify-content: center;
}

.squares-children{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    flex-basis: 25%;

}

.finger{
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color:#18cfab;
    font-size: 17px;
    font-weight: 700;
}

.crystal{
    background-color: #18cfab;
    border-top: 7px solid #fff;
    color:#fff;
    font-size: 17px;
    font-weight: 700;
}

.lamp{
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color:#18cfab;
    font-size: 17px;
    font-weight: 700;
}

.devices{
    background-color: #18cfab;
    border-top: 7px solid #fff;
    color:#fff;
    font-size: 17px;
    font-weight: 700;
}

.squares-img{
    position: absolute;
    top: 90px;
}

.description-square-text{
    position: absolute;
    bottom: 110px;
}

.our-service-container{
    width: 1160px;
    margin: 0 auto;
}

.our-service-headline{
    padding-top: 80px;
    padding-bottom: 74px;
    text-align: center;
    font-size: 30px;
    color: #4e4e4e;
}

.our-service-headline::after{
    content: "";
    display: block;
    width: 76px;
    border: 0.5px solid #18cfab;
    margin: 37px auto 0;
    box-shadow: 12px 4px 0px 0px rgba(24, 207, 171, 1);
}

.tabs{
    display: flex;
    padding-bottom: 20px;
}

.tabs-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 73px;
    text-align: center;
    color: #4e4e4e;
    font-size: 18px;
    background-color: #f8fcfe;
    border: 1px solid #eff0f1 ;
}

.tabs-items:hover{
    cursor: pointer;
}

.active-tab{
    position: relative;
    background-color: #18cfab;
    border: none;
    color: #fff;
}

.active-tab::after{
    position: absolute;
    top: 72px;
    content: "";
    display: block;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #18cfab;
}

.tabs-items:nth-child(-n + 5){
    border-right: none;
}

.our-service-article{
    display: none;
    margin-bottom: 100px;
}

.our-service-article_active-div{
    display: block;
    margin-bottom: 100px;
}

.our-service-article-img{
    border: 1px solid #9fa095;
}

.our-service-article-text{
    display: inline-block;
    padding-left: 20px;
    color: #4e4e4e;
    width: 900px;
    text-align: justify;
    line-height: 22px;
}

.buy-and-install-now{
    background-image: url('../img/Sections-background/section-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 476px;
}

.opacity{
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    height: 476px;
}


.buy-and-install-now-1st-par{
    padding-top: 128px;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
}

.buy-and-install-now-2nd-par{
    padding-top: 35px;
    padding-bottom: 75px;
    color: #fff;
    font-size: 16px;
}

.buy-button{
    text-decoration: none;
    color: #ffffff;
    padding: 25px 19px;
    border-radius: 5px;
    background: linear-gradient(to top, #18cfab 93%, #ffffff 7%);
    font-size: 12px;
    font-weight: 700;
}

.our-amazing-work{
    display: flex;
    background: #f8fcfe;
    /*height: 1212px;*/
}

.our-amazing-work-container{
    width: 1160px;
    margin: 0 auto;
}

.our-amazing-work-headline{
    padding-top: 80px;
    padding-bottom: 74px;
    text-align: center;
    font-size: 30px;
    color: #4e4e4e;
}

.our-amazing-work-headline::after{
    content: "";
    display: block;
    width: 76px;
    border: 0.5px solid #18cfab;
    margin: 37px auto 0;
    box-shadow: 12px 4px 0px 0px rgba(24, 207, 171, 1);
}

.amazing-work-tabs{
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.amazing-work-tabs-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 73px;
    text-align: center;
    color: #4e4e4e;
    font-size: 18px;
    background-color: #f8fcfe;
    border: 1px solid #eff0f1 ;
    cursor: pointer;
}

.amazing-work-tabs-item:nth-child(-n+4){
    border-right: none;
}

.active-amazing-tab{
    border-top: 2px solid #18cfab;
    color: #18cfab;
}

.flex-img-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 70px;
}

.amazing-img-div{
    position: relative;
    width: 286px;
    height: 207px;
}

.amazing-img-div-hidden{
    display: none;
}

.amazing-hover-div{
    border-top: 2px solid #18cfab;
    position: absolute;
    top: 0px;
    width: 286px;
    height: 205px;
    background-color: #f8fcfe;
    z-index: -1;
}

.amazing-img-div:hover .amazing-hover-div{
    z-index: 1;
}

.flex-font-awesome-container{
    display: flex;
    justify-content: center;
    padding-top: 46px;
    padding-bottom: 34px;
}

.fa-link{
    color: #18cfab;
    border-radius: 50%;
    border: 1px solid #18cfab;
    background-color: #fff;
    padding:15px;
    margin-right: 5px;
}

.fa-searcher{
    color: #fff;
    border-radius: 50%;
    background-color: #18cfab;
    padding:15px;
}

/*.fa-link{*/
    /*border-radius: 50%;*/
    /*border-color: #18cfab ;*/
    /*background-color: #18cfab;*/
    /*width: 40px;*/
    /*height: 40px;*/
/*}*/

.amazing-hover-div-1st-par{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #18cfab;
}

.amazing-hover-div-2nd-par{
    text-align: center;
    font-size: 12px;
    color: #4e4e4e;
}

.load-more-btn{
    text-decoration: none;
    display: block;
    margin: 0 auto 100px;
    width: 165px;
    height: 60px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #18cfab;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
    font-weight: 700;
}

.fa-plus{
    padding-right: 10px;
}

.breaking-news-container{
    width: 1160px;
    margin: 0 auto 133px;
}

.breaking-news-headline{
    margin-top: 80px;
    margin-bottom: 74px;
    text-align: center;
    font-size: 30px;
    color: #4e4e4e;
}

.breaking-news-headline::after{
    content: "";
    display: block;
    width: 76px;
    border: 0.5px solid #18cfab;
    margin: 37px auto 0;
    box-shadow:12px 4px 0px 0px rgba(24, 207, 171, 1)
}

.breaking-news-flex-container{
    display: flex;
    flex-wrap: wrap;
}

.breaking-news-post-link{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 263px;
    height: 280px;
    margin-right: 25px;
    background-color: #f8fcfe;
    text-decoration: none;
    border: 1px solid #f0f2f3;
}

.breaking-news-post-link:nth-child(-n+4){
    margin-bottom: 35px;
}

.breaking-news-post-link:hover .day-and-month{
    background-color: #18cfab;
}

.breaking-news-post-link:hover .post-title{
    color: #18cfab;
}

.day-and-month{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 66px;
    height: 66px;
    background-color: #203e38;
    color: #fff;
    font-size: 18px;
}

.day-and-month_moth{
    padding-top: 10px;
}

.post-title{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #717171;
    padding: 15px 43px 15px 0;
}

.by-user{
    color: #4e4e4e;
    padding-left: 15px;
}

.separator{
    border-right: 1px solid #717171;
    margin-right: 10px;
    margin-left: 8px;
}

.what-people-say-about-ham{
    background-image: url('../img/Sections-background/section-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 852px;
}

.opacity2{
    background: rgba(0, 0, 0, 0.4);
    height: 852px;
}

.say-about-ham-container{
    width: 1160px;
    margin: 0 auto;
}

.what-people-say-about-ham-headline{
    padding-top: 80px;
    padding-bottom: 74px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.what-people-say-about-ham-headline::after{
    content: "";
    display: block;
    width: 76px;
    border: 0.5px solid #18cfab;
    margin: 37px auto 0;
    box-shadow:12px 4px 0px 0px rgba(24, 207, 171, 1);
}

.quotes-img-div{
    text-align: center;
}

.comment-about-ham-div{
    text-align: center;
    padding-top: 43px;
}

.comment-about-ham-p{
    padding-bottom: 43px;
    color: #bbbbbb;
    line-height: 25px;
}

.commentator-name{
    padding-bottom: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #18cfab;
}

.commentator-position{
    padding-bottom: 37px;
    color: #bbbbbb;
}

.commentator-photo{
    border: 3px solid #18cfab;
    border-radius: 50%;
    margin-bottom: 55px;
    box-shadow: 0px 0px 0px 10px rgba(24, 207, 171, 0.3);
}

.commentator-photo-mini{
    margin-left: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px rgba(24, 207, 171, 0.3);
    border: 2px solid transparent;
}

.commentator-photo-mini:hover{
    margin-top: -10px;
    border-color: #18cfab;
    cursor: pointer;
}

.wrapper-tabs-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.say-about-ham-tabs{
    width: 383px;
    height: 90px;
    display: flex;
    justify-content: center;
}

.say-about-ham-tabs-item{
    padding-right: 30px;
}
.slick-initialized .slick-slide{
    margin-top: 20px;
}

.slick.list.dra
/*.say-about-ham-tabs-item:hover{*/
    /*margin-bottom: 20px;*/
/*}*/

.say-about-ham-tabs-item-button-previous{
    padding-right: 30px;
}


.fa-chevron-left{
    margin-top: 13px;
    margin-right: 30px;
    height: 31px;
    width: 31px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
}

.fa-chevron-left:hover{
    background-color: #18cfab;
    color: #fff;
}

.say-about-ham-tabs-item-button-next{
    padding-right: 30px;
}

.fa-chevron-right{
    margin-top: 13px;
    margin-left: 30px;
    height: 31px;
    width: 31px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
}

.fa-chevron-right:hover{
    background-color: #18cfab;
    color: #fff;
}

.slick-arrow{
    top: 50px;
}

.masonry-wrapper{
    width: 1160px;
    margin: 0 auto;
}

.images-mas-wrapper{
    margin: 0 auto;
}

.mass-lil-wrap{
    width: 370px;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mini-imgs{
    position: relative;
}

.fa-expand-arrows-alt{
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
    background-color: #14b9d5;
    padding: 8px;
    border-radius: 5px;
}

.fa-searcher-masonry-section{
    color: #fff;
    font-size: 25px;
    background-color: #14b9d5;
    padding: 8px;
    border-radius: 5px;
}

.up-layer, .up-layer-all{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 98%;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    visibility: hidden;
}

.up-layer-all{
    height: 100%;
}

.mids-upla{
    height: 99%;
}

.mini-imgs:hover .up-layer{
    visibility: visible;
}

.mas-imgs:hover .up-layer-all{
    visibility: visible;
}

.mas-imgs,.mass-lil-wrap{
    margin-bottom: 20px;
}

.mas-imgs-hidden{
    display: none;
}

.middle-sz-img{
    width: 175px;
    height: 167px;
}

.remove-bottom-margin-middle-size-pic{
    margin-bottom: 0;
}

.position-important{
    position: absolute;
    left: 970px !important;
}

.position-important img{
    width: 180px;
}

.load-all-button-masonry{
    display: block;
    margin: 72px auto 100px auto;
    text-decoration: none;
    line-height: 67px;
    text-align: center;
    text-transform: uppercase;
    width: 165px;
    height: 65px;
    border-radius: 5px;
    background-color: #18cfab;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.gallery-of-best-images-headline{
    padding-top: 80px;
    padding-bottom: 74px;
    text-align: center;
    font-size: 30px;
    color: #4e4e4e;
}

.gallery-of-best-images-headline::after{
    content: "";
    display: block;
    width: 76px;
    border: 0.5px solid #18cfab;
    margin: 37px auto 0;
    box-shadow: 12px 4px 0px 0px rgba(24, 207, 171, 1);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    background-color: #22353f;
    box-shadow: 0px 0px 0px 10px rgba(24, 207, 171, 0.3);
}

.copy-right-p{
    color: #a5a6a7;
}

.separator2{
    border-right: 1px solid #717171;
    margin-right: 10px;
    margin-left: 4px;
}

.the-ham-stylization-copyr{
    color: #18cfab;
}